.note td {
    max-width: 300px;
}

form {
    margin-top: 40px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

main {
    min-height: 100vh;
}